  <h1>Invites</h1>

  <h2>Attendees (<%= @acceptance_count %>)</h2>
  <ul>
    <% @acceptances.sort! %>
    <% @acceptances.each do |acceptanceName| %>
    <li><%= acceptanceName %></li>
    <% end %>
  </ul>

  <h2>Apologies (<%= @rejection_count %>)</h2>
  <ul>
    <% @rejections.sort! %>
    <% @rejections.each do |rejectionName| %>
    <li><%= rejectionName %></li>
    <% end %>
  </ul>